
section 
{
	
	font-style:italic;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:16pt;
        left: 500px;
        width: 529px;
        position: relative;
        min-height: 433px;
        top: 100px;
         
}
#img{
    margin-top: 80px;
    margin-left: 100px;
    height:400px;
    width:400px;

}

footer{
    font-style: italic;
    margin-top: 70px;
    font-size: 12pt;
    font-weight: bold;
    margin-left:200px;
}
body{
    background-image:url("bg.jpg");
    background-repeat: no-repeat;
}
#schedule{
    margin-left:500px;
}